<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Correo electrónico" required></ion-input>
    <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
    <ion-button expand="block" type="submit">Entrar</ion-button>
  </form>
  <ion-button expand="block" fill="outline" color="secondary" (click)="goToRegister()">
    ¿No tienes cuenta? Regístrate
  </ion-button>
  <p *ngIf="error" style="color:red; text-align:center;">{{error}}</p>
</ion-content>